<launch>
  <arg name="demo"/>

  <node name="monitor" pkg="rqt_runtime_monitor" type="rqt_runtime_monitor"/>

  <group if="1">
    <!-- trick to kill gazebo when SIGINT is sent -->
    <node name="kill_all_at_interrupt" pkg="rosout" type="rosout"
      launch-prefix="bash -c 'trap pkill\ gzserver\ \;\ pkill\ gzclient\ \;\ sleep\ 3\ \;\ pkill\ -P\ \$PPID SIGINT ; sleep infinity'"/>
  </group>
</launch>
