<launch>

  <arg name="demo"/>
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="output" default="screen"/>
  <arg name="gui" default="true"/>
  <arg name="config_dir" default="$(find path_following_demo)/config"/>

  <group if="$(eval arg('demo') == 'simu')">

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="output" value="$(arg output)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="physics" value="ode"/>
    </include>

  </group>

</launch>
