<launch>
  <arg name="config_dir"/>
  <arg name="output" default="screen" />
  <arg name="robot_prefix" default="" />
  <arg name="controller_prefix" default="" />

  <rosparam command="load" file="$(arg config_dir)/path_following.yaml"/>

  <node name="matching" pkg="romea_path_matching" type="path_matching_node" output="$(arg output)">
    <remap from="filtered_odom" to="/$(arg robot_prefix)localisation/filtered_odom"/>
    <param name="path_dir" value="$(arg config_dir)/paths"/>
  </node>

  <node name="following" pkg="romea_path_following" type="path_following_node" 
    output="$(arg output)">
    <!-- launch-prefix="gdbserver localhost:1337"> -->

    <remap from="joy" to="/joy"/>
    <remap from="odometry" to="/$(arg controller_prefix)alpo_driver/ackermann_controller/odometry"/>
    <remap from="~cmd_steer" to="/control_fsm/cmd_steer"/>
  </node>
</launch>
