<launch>
  <arg name="world_name" default="worlds/empty.world"/>
  <arg name="gui" default="true"/>

  <!-- start gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="output" value="screen"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="physics" value="ode"/>
  </include>

  <include file="$(find adap2e_bringup)/launch/adap2e_fat.launch">
    <arg name="mode" value="simulation"/>
  </include>

  <include file="$(find adap2e_base)/launch/base.launch">
    <arg name="model" value="fat"/>
  </include>

  <node name="kill_all_at_interrupt" pkg="rosout" type="rosout"
    launch-prefix="bash -c 'trap pkill\ gzserver\ \;\ pkill\ gzclient\ \;\ sleep\ 3\ \;\ pkill\ -P\ \$PPID SIGINT ; sleep infinity'"/>
</launch>
